/******************* Globals ****************/
* {
    scroll-behavior: smooth;
}

/**************** Police ********************************/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');



/**************** Header ********************************/
header {
    position: fixed;
    width: 100%;
    top: 0%;
    height: 10%;
    background: white;
}

/**************** Nav ********************************/
nav {
    position: fixed;
}

/**************** Nav Logo ********************************/

.navbar-brand img {
    height: 30px;
}


/**************** Main Section ********************************/

.mainSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: url(/assets/img/Background-Web.png);
    background-size: 100%;
}

/**************** Main Section Img ****************/

.imgMainSection img {
    height: 100%;
    width: 100%;
    display: block;
    margin-top: 60px;
}


/**************** Titres ********************************/

h3,
h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Comfortaa', bold, sans-serif;
}

h4 {
    top: 55%;
}

/**************** Buttons ********************************/
.btn {
    display: flex;
    justify-content: flex-end;
}

#registration {
    border-radius: 5px;
    background: rgb(255, 255, 255);
    width: 250px;
    height: 50px;
    margin-top: 8px;
    border-radius: 50px;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
}

#registration a {
    color: white;
    text-decoration: none;
}

.emailParagraphe {
    color: white;

}

#login {
    border-radius: 5px;
    background: rgb(255, 255, 255);
    width: 250px;
    height: 50px;
    margin-top: 8px;
    border-radius: 50px;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
}

#login a {
    color: white;
    text-decoration: none;
}

.groupBtn {
    margin: 0 auto;
    padding: 10px;
}

.contentBtn {
    display: flex;
    position: relative;
    top: -15rem;
}

.continueBtn {
    border-radius: 5px;
    background: rgb(255, 255, 255);
    width: 250px;
    height: 50px;
    margin-top: 8px;
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
    color: blue;
    border: none;
    margin-top: 50px;
    margin: 0 auto;
    font-weight: bold;
}

.continueBtn a {
    text-decoration: none;
}

.radio-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 220px;
    padding-left: 30px;
}

.radio-buttons label {
    color: white;
}

.radio-buttons input[type="radio"]+label {
    margin-left: 10px;
}

.otherEmail {
    background: black;
    width: 250px;
    height: 50px;
    color: white;
    border-radius: 25px;
    margin-top: 120px;
    margin: 50px auto;
    margin-bottom: 230px;
}

#refuseBtn,
#acceptBtn {
    margin: 50px auto;
}

#refuseBtn {
    background: rgb(255, 255, 255);
    width: 250px;
    height: 50px;
    margin-top: 8px;
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
    border-color: blue;
}

#refuseBtn a {
    text-decoration: none;
}

#acceptBtn {
    background: rgb(255, 255, 255);
    width: 250px;
    height: 50px;
    margin-top: 8px;
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
    border-color: blue;
}

#acceptBtn a {
    text-decoration: none;
}

.womanBtn {
    border-radius: 40px;
    height: 100px;
    width: 300px;
    background: white;
    border: 1px solid blue;
    color: blue;
}

.womanBtn:focus {
    border-color: blue;
    outline-color: blue;
}

#womanBtn ::placeholder {
    text-align: center;
    color: white;
}

.manBtn {
    border-radius: 40px;
    height: 100px;
    width: 300px;
    background: transparent;
    border: 1px solid blue;
    color: white;
}

.manBtn:focus {
    border-color: blue;
    outline-color: blue;
}

#manBtn ::placeholder {
    text-align: center;
    color: white;
}

.nonBinaryBtn {
    border-radius: 40px;
    height: 100px;
    width: 300px;
    background: transparent;
    border: 1px solid blue;
    color: white;
}

.valideBtn {
    border-radius: 5px;
    background: rgb(255, 255, 255);
    width: 250px;
    height: 50px;
    margin-top: 8px;
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
    color: blue;
    border: none;
    margin-top: 50px;
    margin: 0 auto;
    text-decoration: none;
}

#accept {
    border-radius: 5px;
    width: 250px;
    height: 50px;
    margin-top: 8px;
    border-radius: 50px;
    cursor: pointer;
    background-color: blue;
    display: block;
    margin: 50px auto;
    color: white;
    border: none;
    margin-top: 50px;
    margin: 0 auto;
    text-decoration: none;
}

/************************** Logo img ********************************/
.logo img {
    width: 30%;
    height: 50px;
}

/************************** Titres ********************************/
h1,
.title2 {
    color: white;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10rem;
}

/************************** Main ********************************/

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin: 80px
}

/******************************** Sections ***************************************************/
.sectionBackgroundPink {
    background: url(/assets/img/bg.jpg);
    background-size: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




/******************************** Section welcome ***************************************************/
#welcomePage .videoContainer {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

#welcomePage video {
    width: 100%;
    height: auto;
}


/************************** Section credit ***************************************/

#credit {
    margin-top: 20px;
    height: 100%;
}

#creditVideo {

    width: 50%;
}

/************************** Section consent ***************************************/
#consent {
    margin-top: 100px;
    border-radius: 30px;
    background: rgb(255, 255, 255);
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#consent h3 {
    margin-top: 120px;
    text-transform: uppercase;
}

#consent p {
    text-align: center;
}

.respect {
    color: blue;
}


/************************** Section Birth Date ***************************************/


/************************** Section Love Coach ***************************************/
#loveCoach {
    margin-top: 120px;
}

/**************************** Registration Form ********************************/


.emailInput {
    border-radius: 10px;
    display: block;
    margin: 50px auto;
    height: 100px;
    width: 25%;
    background: transparent;
    border: 1px solid white;
    text-align: center;
    color: white;
}

.emailInput:focus {
    border-color: white;
    outline-color: white;
    text-align: center;
    color: white;
}

#email ::placeholder {
    text-align: center;
    color: white;
}

.emailParagraphe {
    text-align: center;
}




.townInput {
    border-radius: 50px;
    display: block;
    margin: 50px auto;
    height: 100px;
    width: 25%;
    background: transparent;
    border: 1px solid white;
    text-align: center;
    color: white;
}


.townInput:focus {
    border-color: white;
    outline-color: white;
}

#town ::placeholder {
    text-align: center;
    color: white;
}


.dateInput {
    border-radius: 10px;
    display: block;
    margin: 50px auto;
    height: 300px;
    width: 25%;
    background: transparent;
    border: 1px solid white;
    text-align: center;
    color: white;
}

.dateInput:focus {
    border-color: white;
    outline-color: white;
    text-align: center;
    color: white;
}

#dateInput ::placeholder {
    text-align: center;
    color: white;
}

#sizeSelect {
    border-radius: 10px;
    display: block;
    margin: 50px auto;
    height: 90px;
    width: 25%;
    text-align: center;
}

.detail {
    margin: 50px auto;
    width: 80%;
}

.detail p {
    color: white;
}

.firstNameInput {
    border-radius: 50px;
    display: block;
    margin: 50px auto;
    height: 100px;
    background: transparent;
    border: 1px solid white;
    text-align: center;
    color: white;
    margin-bottom: 350px;
}

.firstNameInput:focus {
    border-color: white;
    outline-color: white;
    text-align: center;
    color: white;
}

#firstNameInput ::placeholder {
    text-align: center;
    color: white;
}

.premiumCard {
    background: black;
    border-radius: 10px;
    display: block;
    margin: 50px auto;
    height: 100px;
    margin-bottom: 250px;
    width: 50%;
}

.email {
    border-radius: 25px;
    width: 50%;
    height: 60px;
    margin: 50px auto;
    background: transparent;
    border: 1px solid white;
}

.email:focus {
    border-color: white;
    outline-color: white;
}

#myAccount button.email::placeholder {
    text-align: center;
    color: white;
}

.email ::placeholder {
    text-align: center;
    color: white;
}



.passwordInput {
    border-radius: 10px;
    display: block;
    margin: 50px auto;
    height: 100px;
    width: 25%;
    background: transparent;
    border: 1px solid white;
}

#avatar {
    display: block;
    margin: 50px auto;
    cursor: pointer;

}


label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

input[type="text"] {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #ddd;
    margin-top: 5px;
}

input[type="text"]:focus {
    text-align: center;
    color: white;
}


.description {
    text-align: center;
    color: white;
}


/******************************** Login page ********************************* */


input[type="password"] {
    border: 1px solid white;
}

/****************************** Profil ****************************/

#profil {
    height: 100%;
}

.cardProfil {
    margin: 50px auto;
    display: block;
    justify-content: space-between;
    width: 30%;
}

.cardProfil img {
    width: 100%;
    height: 100%;
    margin-top: 120px;
    border-radius: 50%;
}


.edit {
    border-radius: 25px;
    width: 10%;
    display: block;
    background: blue;
    color: white;
    margin-top: 100px;
    margin-left: 50px;
}

#likes {
    border: 1px solid red;
    background: white;
    text-align: center;
    width: 80%;
}

.chatbox {
    border-radius: 25px;
    width: 10%;
    display: block;
    background: white;
    height: 100%;
}

/* 
#chat {
    width: 100%;
    height: 100px;
} */


.gradient-custom {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgba(252, 203, 144, 1), rgba(213, 126, 235, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgba(252, 203, 144, 1), rgba(213, 126, 235, 1))
}

.mask-custom {
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

/**************************** Events ********************************/
#eventsCards {
    z-index: 1;
}

.row {
    margin-top: 100px;
    margin-bottom: 30px;
    /* padding: 60px; */
}

.col-lg-4 {
    margin-top: 20px;
}

/* #ourEvents {
    background: url(/assets/img/bg.jpg);
    background-size: 100%;
    margin-top: 150px;
}

img {
    height: 150px;
    width: 100%;
}

.item {
    padding-left: 5px;
    padding-right: 5px;
}

.item-card {
    transition: 0.5s;
    cursor: pointer;
}

.item-card-title {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
}

.item-card-title i {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
    color: #ffa710
}

.card-title i:hover {
    transform: scale(1.25) rotate(100deg);
    color: #18d4ca;

}

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-text {
    height: 80px;
}

.card::before,
.card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}

.card::before {
    transform-origin: left top;
}

.card::after {
    transform-origin: right bottom;
}

.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
    transform: scale3d(1, 1, 1);
} */


/******************************** Team ********************************/
.container {
    max-width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
    background: url(/assets/img/bg.jpg);

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
    margin: 5% 0;
}

.card {
    overflow: hidden;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(227, 235, 246, 0.3);
    border-radius: 30px;
    text-align: center;
}


.card_img img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.card_body {
    padding: 26px 10px 36px 10px;
}

.card_title {
    font-weight: 800;
    text-transform: capitalize;
    color: #25262C;
    font-size: 32px;
    padding-bottom: 15px;
}

.designation {
    font-weight: 700;
    font-size: 22px;
    color: #959EAF;
}

.call_btn {
    margin: 140px 0 40px;
    position: relative;
    display: inline-block;
    z-index: 99;
}



.btn_icon i {
    position: relative;
    font-size: 22px;
    color: #1F83FE;
    transition: all .3s ease-in-out;
}

.btn_icon i:after {
    content: '';
    position: absolute;
    height: 55px;
    width: 55px;
    background-color: white;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    left: -17px;
    top: -18px;
    z-index: -1;
    transition: all .3s ease-in-out;
}


.btn_icon:hover i {
    color: #0050B1;
}


.btn_icon:hover .circle {
    box-shadow: 0px 4px 97px rgba(44, 134, 255, 0.8);
}

.link {
    position: fixed;
    background-color: #D12322;
    padding: 23px 40px;
    right: -110px;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-90deg);
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .1s ease-in-out;
}

.link i {
    padding-left: 7px;
}

.link:hover {
    text-decoration: underline;
    background-color: black;
}


@media only screen and (max-width: 1024px) {

    .grid {
        grid-template-columns: 1fr;
        gap: 2%;
    }
}


@media only screen and (max-width: 425px) {
    .container {
        padding: 0 1rem;
    }

    .card {
        padding: 12px;
    }

    .card_title {
        font-size: 26px;
    }

    .designation {
        font-size: 18px;
    }

    .call_btn {
        margin: 100px 0 25px;
    }
}


/************************** Footer ********************************/
footer {
    position: fixed;
    bottom: -40rem;
    width: 100%;
}

footer:hover {
    bottom: 0;
}

.new_footer_area {
    background: #fbfbfd;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
    overflow-x: hidden;
}

.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}

.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}

.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}

.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}

.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}

.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}

.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}

.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}

.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}

.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.ti-facebook:before {
    content: "\e741";
}

.ti-twitter-alt:before {
    content: "\e74b";
}

.ti-vimeo-alt:before {
    content: "\e74a";
}

.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
    color: white;
}

.new_footer_top .f_social_icon a+a {
    margin-left: 4px;
}

.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}

.f_600 {
    font-weight: 600;
}

.f_size_18 {
    font-size: 18px;
}


h3,
h4,
h5,
h6 {
    color: blue;
}

.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
    background-size: 100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}


/************************ Animation Footer ****************************************/

@-moz-keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@-webkit-keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

/************************** Responsive **************************************